@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--light-grey);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: 1rem;
}

.card {
    background-color: white;
    border-radius: 20px 20px 100px 20px;
}

ul {
    padding: 0;
    display: flex;
    padding: 32px;
    padding-left: 0;
    margin: 32px;
    gap: 20px;
    border-bottom: 1px solid var(--light-grey);
    margin-right: 100px;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

label {
    color: var(--smokey-grey);
    font-weight: 700;
    letter-spacing: .2rem;
}

input {
    font-family: 'Poppins', sans-serif;
    width: 6ch;
    font-size: 2rem;
    color: var(--off-black);
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    outline: none;
    font-weight: 700;
    padding: 0.5ch;
}

input:focus {
    border-color: var(--purple);
    caret-color: var(--purple);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
    background-color: black;
    border-radius: 50%;
    padding: 25px;
    position: relative;
    top: 80px;
    left: 50px;
}

img:hover {
    background-color: var(--purple);
    cursor: pointer;
}

div span {
    color: var(--purple);
}

.output {
    font-weight: 800;
    font-style: italic;
    font-size: 4rem;
    margin: 32px 0 32px 32px;
    line-height: 1.1;
}
